h1 {
  text-align: center;
  font-family: "Sans-Serif", "Courier", monospace;
  font-size: 28px;
}

body {
  font-family: "Courier";
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #F6CC08;
}

#headerItem {
  width: 150px;
  text-align:center;
}

#headerItemAssignees {
  width: 230px;
  text-align: center;
}

/*
#headerItemDescription{
    position: absolute;
  top: 100px;
  width: 79%;
  text-align: center;
}
*/

th {
  width:100%;
  text-transform: uppercase;
  background-color: #7E2E16;
  overflow: hidden;
  font-weight:bold;
  color: white;
  height: 40px;
  vertical-align: center;
  padding(12 * 1.5) 0;
}

td {
  text-align:center;
  padding: (12 * 1.5) 0;
  border: 0px;
  height: 30px;
}

tr:nth-child(even) {
  background: #ffffff;
}

tr:nth-child(odd) {
  background: #7E2E16;
}

li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.current) {
background-color: #7E2E16;
}

.current {
background-color: #7E2E16;
color: white;
font-weight: bold;
}
